extends layout

block scripts
  script(src='/javascripts/prices.js',type='text/javascript')

h1 New Item

block content
  form(method='post')
    table(class='newitemtable')
      tr
        td(class='labeltd')
          label(for='name') Name
        td
          input(type='text',name='name',class='textinput',id='name')

      tr
        td(class='labeltd')
          label(for='rarity') Rarity
        td
          input(type='text',name='rarity',class='textinput whiteonblack',id='rarity',value='#{defaults.rarity}')
        td
          a(class='bigbutton clearbutton',onclick="clearRarityValue()") Clear
        td(class='raritytd')
          - each r in statics.rarities
            a(class='bigbutton rarity#{r.rarity}',onclick="setRarityValue('#{r.rarity}')")= r.rarity

      tr
        td(class='labeltd')
          label(for='tier') Tier
        td
          input(type='text',name='tier',class='textinput',id='tier',value='#{defaults.tier}')
        td
          a(class='bigbutton clearbutton',onclick="clearElementValue('tier')") Clear
        td(class='raritytd')
          - each tier in statics.tiers
            a(class='bigbutton',onclick="setElementValue('tier','#{tier}')")= tier

      tr
        td(class='labeltd')
          label(for='value') Value
        td
          input(type='text',name='value',class='textinput',id='value',value='#{defaults.value}')
        td
          a(class='bigbutton clearbutton',onclick="clearElementValue('value')") Clear
        td(class='raritytd')
          - each value in statics.values
            a(class='bigbutton',onclick="setElementValue('value','#{value}')")= value

      tr
        td(class='labeltd')
          label(for='type') Type
        td
          input(type='text',name='type',class='textinput',id='type',value='#{defaults.type}')
        td
          a(class='bigbutton clearbutton',onclick="clearElementValue('type')") Clear
        td(class='raritytd')
          - each t in statics.types
            a(class='bigbutton',onclick="setElementValue('type','#{t}')")= t

      tr
        td(class='labeltd')
          label(for='subtype') Subtype
        td
          input(type='text',name='subtype',class='textinput',id='subtype',value='#{defaults.subtype}')
        td
          a(class='bigbutton clearbutton',onclick="clearElementValue('subtype')") Clear
        td(class='raritytd')
          div.subsubtype(class='') Basic Mats:
            - each st in statics.subtype_basicCraftingMaterial
              a(class='bigbutton',onclick="setElementValue('subtype','#{st}')")= st
          div.subsubtype(class='') Fine Mats:
            - each st in statics.subtype_fineCraftingMaterial
              a(class='bigbutton',onclick="setElementValue('subtype','#{st}')")= st
          div.subsubtype Rare Mats:
            - each st in statics.subtype_rareCraftingMaterial
              a(class='bigbutton',onclick="setElementValue('subtype','#{st}')")= st
          div.subsubtype Misc Mats:
            - each st in statics.subtype_miscCraftingMaterial
              a(class='bigbutton',onclick="setElementValue('subtype','#{st}')")= st
          div.subsubtype Gemstone Low:
            - each st in statics.subtype_gemstone_low
              a(class='bigbutton',onclick="setElementValue('subtype','#{st}')")= st
          div.subsubtype Gemstone Mid:
            - each st in statics.subtype_gemstone_mid
              a(class='bigbutton',onclick="setElementValue('subtype','#{st}')")= st
          div.subsubtype Gemstone High:
            - each st in statics.subtype_gemstone_high
              a(class='bigbutton',onclick="setElementValue('subtype','#{st}')")= st
          div.subsubtype Upgrades:
            - each st in statics.subtype_upgrade
              a(class='bigbutton',onclick="setElementValue('subtype','#{st}')")= st

      tr(class='hidden')
        td(class='labeltd')
          label(for='usedby') Used By
        td
          input(type='text',name='usedby',class='textinput',id='usedby')
        td
          a(class='bigbutton clearbutton',onclick="clearElementValue('usedby')") Clear
        td(class='raritytd')
          - each cd in statics.craftingDisciplines
            a(class='bigbutton',onclick="setElementValue('usedby','#{cd}')")= cd

      tr(class='')
        td(class='labeltd')
          label(for='level') Level
        td
          input(type='text',name='level',class='textinput',id='level',value='#{defaults.level}')

      tr(class='hidden')
        td(class='labeltd')
          label(for='aquisition') Aquisition
        td
          input(type='text',name='aquisition',class='textinput',id='aquisiton')

      tr
        td(class='labeltd')
          label(for='value_karma') Value (Karma)
        td
          input(type='text',name='value_karma',class='textinput',id='value_karma',value='#{defaults.value_karma}')
        td
          a(class='bigbutton clearbutton',onclick="clearElementValue('value_karma')") Clear
        td(class='raritytd')
          - each value in statics.values
            a(class='bigbutton',onclick="setElementValue('value_karma','#{value}')")= value

      tr
        td(class='labeltd')
          label(for='value_gems') Value (Gems)
        td
          input(type='text',name='value_gems',class='textinput',id='value_gems',value='#{defaults.value_gems}')
        td
          a(class='bigbutton clearbutton',onclick="clearElementValue('value_gems')") Clear
        td(class='raritytd')
          - each value in statics.values
            a(class='bigbutton',onclick="setElementValue('value_gems','#{value}')")= value

      tr(class='quiet')
        td
        td
        td
        td
          div(class='submit')
            input(type='submit',value='Submit',class='bigbutton submitbutton')
            a(class='bigbutton',href='/item/list',class='bigbutton') List Items
