
- each s in defaults
  p= s

p= text

p= new Date().toUTCString()
p= new Date()
p= new Date('1970-01-01T01:23:45')
p= Date.parse('1970-01-01T01:23:45')
p= Date.now()
p= new Date().toISOString()
p= new Date().toJSON()
